<style>
    #goods-detail-create {
        padding: 20px 25px 25px 0;
    }

    #goods-detail-create .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }

    #goods-detail-create .layui-treeSelect .ztree li span.button.switch {
        top: 1px;
        left: 3px;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }
</style>
<div class="layui-fluid" id="goods-detail-create" lay-title="添加货品属性">
    <form class="layui-form" action="" lay-filter="goods-detail-create-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">货品ID：</label>
            <div class="layui-input-block">
                <input type="text" name="goodsId" data-th-value="${goods.goodsId}" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">货品名：</label>
            <div class="layui-input-block">
                <input type="text" name="name" data-th-value="${goods.name}" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">属性名：</label>
            <div class="layui-input-block">
                <input type="text" name="goodsAttribute"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">属性值：</label>
            <div class="layui-input-block">
                <input type="text" name="goodsAttributeValue" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="goods-detail-create-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form;

        form.render();

        formSelects.render();

        form.on('submit(goods-detail-create-form-submit)', function (data) {
            febs.post(ctx + 'goods/detailCreate', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增货品属性成功！');
            });
            return false;
        });
    });
</script>