<style>
    #goods-update {
        padding: 20px 25px 25px 0;
    }

    #goods-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }

    #goods-update #data-permission-tree-block {
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 3px 0;
    }

    #goods-update  .layui-treeSelect .ztree li span.button.switch {
        top: 1px;
        left: 3px;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }
</style>
<div class="layui-fluid" id="goods-update" lay-title="修改货品">
    <form class="layui-form" action="" lay-filter="goods-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">货品ID：</label>
            <div class="layui-input-block">
                <input type="text" name="goodsId" data-th-value="${goods.goodsId}" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">货品名：</label>
            <div class="layui-input-block">
                <input type="text" name="name" data-th-id="${goods.name}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">进货价格：</label>
            <div class="layui-input-block">
                <input type="text" name="purchasePrice" data-th-id="${goods.purchasePrice}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">批发价格：</label>
            <div class="layui-input-block">
                <input type="text" name="wholesalePrice" data-th-id="${goods.wholesalePrice}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">零售价格：</label>
            <div class="layui-input-block">
                <input type="text" name="retailPrice" data-th-id="${goods.retailPrice}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="goods-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'eleTree'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            goods = [[${goods}]],
            $view = $('#goods-update');

        form.render();
        initVehicleValue();

        function initVehicleValue() {
            form.val("goods-update-form", {
                "goodsId": goods.goodsId,
                "name": goods.name,
                "purchasePrice": goods.purchasePrice,
                "wholesalePrice": goods.wholesalePrice,
                "retailPrice": goods.retailPrice,
            });
        }

        form.on('submit(goods-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, goods)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'goods/update', data.field, function () {
                layer.closeAll();
                febs.alert.success(+ '车辆 ' + goods.goodsId +' 的数据修改成功！');
                $('#febs-goods').find('#query').click();
            });
            return false;
        });
    });
</script>