<style>
    #order-add {
        padding: 20px 25px 25px 0;
    }

    #order-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }

    #order-add .layui-treeSelect .ztree li span.button.switch {
        top: 1px;
        left: 3px;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }
</style>
<div class="layui-fluid" id="order-add" lay-title="新增订单">
    <form class="layui-form" action="" lay-filter="order-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">销售人ID：</label>
            <div class="layui-input-block">
                <input type="text" name="salesId" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">客户姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="customerName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">客户电话：</label>
            <div class="layui-input-block">
                <input type="tel" name="customerPhone" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">车辆ID：</label>
            <div class="layui-input-block">
                <input type="text" name="vehicleId" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">价格：</label>
            <div class="layui-input-block">
                <input type="text" name="price" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="待审核" title="待审核" checked="">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="order-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'eleTree'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate;

        form.verify(validate);
        form.render();

        formSelects.render();

        form.on('submit(order-add-form-submit)', function (data) {
            febs.post(ctx + 'order', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增订单成功！');
                $('#febs-order').find('#query').click();
            });
            return false;
        });
    });
</script>