<div class="layui-fluid layui-anim febs-anim" id="febs-order" lay-title="零售管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="order-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">零售单号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="orderId" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="time" id="order-createTime" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">客户姓名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="customerName" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">客户电话</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="customerPhone" class="layui-input">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="order:view,order:retail">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="orderTable" lay-data="{id: 'orderTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="order-option">
    <span shiro:lacksPermission="order:view">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="detail" shiro:hasPermission="order:view"><i
            class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
</script>

<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            treeSelect = layui.treeSelect,
            dropdown = layui.dropdown,
            $view = $('#febs-order'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo;

        form.render();

        initTable();

        laydate.render({
            elem: '#order-createTime',
            range: true,
            trigger: 'click'
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('orderTable');
                if (name === 'create') {
                    febs.modal.open('新增销售单', 'system/order/retail', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        offset: '30px',
                        yes: function (index, layero) {
                            $('#order-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#order-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }

            },
            options: [{
                name: 'create',
                title: '新增销售单',
                perms: 'order:retail'
            }]
        });

        table.on('tool(orderTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                febs.modal.view('订单信息', 'system/order/detail/' + data.orderId, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
        });

        table.on('sort(orderTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            treeSelect.revokeNode('dept');
            sortObject.type = 'null';
            createTimeTo = null;
            createTimeFrom = null;
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'orderTable',
                url: ctx + 'order/list/',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'orderId', title: '销售单号', minWidth: 100},
                    {field: 'createTime', title: '创建时间', minWidth: 180, sort: true},
                    {field: 'customerName', title: '客户姓名', minWidth: 165},
                    {field: 'customerPhone', title: '客户手机', minWidth: 180},
                    {field: 'orderPrice', title: '价格'},
                    {title: '操作', toolbar: '#order-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            var createTime = params.time;
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }
            params.invalidate_ie_cache = new Date();
            params.createTimeFrom = createTimeFrom;
            params.createTimeTo = createTimeTo;
            return params;
        }
    })
</script>