<style>
    #order-add {
        padding: 20px 25px 25px 0;
    }

    #order-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }

    #order-add .layui-treeSelect .ztree li span.button.switch {
        top: 1px;
        left: 3px;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }
</style>
<div class="layui-fluid" id="order-add" lay-title="新增零售销售单">
    <form class="layui-form" action="" lay-filter="order-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">客户姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="customerName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">客户电话：</label>
            <div class="layui-input-block">
                <input type="tel" name="customerPhone" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">商品：</label>
            <div class="layui-input-block">
                <select name="goodsId"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="retail-add-goods"
                        xm-select-skin="default">
                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">本单价格：</label>
            <div class="layui-input-block">
                <input type="text" name="orderPrice" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="order-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'eleTree'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate;

        form.verify(validate);
        form.render();

        formSelects.render();

        formSelects.config('retail-add-goods', {
            searchUrl: ctx + 'goods',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        value: data[i].goodsId
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取商品列表失败');
            }
        });

        form.on('submit(order-add-form-submit)', function (data) {
            febs.post(ctx + 'order', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增零售销售单成功！');
                $('#febs-order').find('#query').click();
            });
            return false;
        });
    });
</script