<style>
    #order-add {
        padding: 20px 25px 25px 0;
    }

    #order-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }

    #order-add #data-permission-tree-block {
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 3px 0;
    }

    #order-add .layui-treeSelect .ztree li span.button.switch {
        top: 1px;
        left: 3px;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }

    #goods-retail-table {
        margin-left: 30px;
    }
</style>
<div class="layui-fluid" id="order-add" lay-title="新增零售销售单">
    <form class="layui-form" action="" lay-filter="order-add-form">
        <div class="layui-form-item" id="order-add-content">
            <label class="layui-form-label">客户姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="customerName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户电话：</label>
            <div class="layui-input-block">
                <input type="tel" name="customerPhone" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="order-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>

    <div id="goods-retail-table">
        <table class="layui-hide" id="goodsRetailTable" lay-filter="goodsRetailTable"></table>
    </div>

</div>

<script data-th-inline="none" type="text/javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'eleTree'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            $view = $('#order-add'),
            table = layui.table,
            validate = layui.validate;

        form.verify(validate);
        form.render();

        formSelects.render();

        form.on('submit(order-add-form-submit)', function (data) {
            var tableCache = table.cache["goodsRetailTable"];
            var message="";
            for (var i=0; i<tableCache.length; i++){
                message = message + ';' + tableCache[i].goodsId + ',' + tableCache[i].number + ',' + tableCache[i].type
                    + ',' + tableCache[i].discount + ',' +  tableCache[i].goodsName + ',' + tableCache[i].retailPrice;
            }
            febs.post(ctx + 'order', {"customerName": data.field.customerName , "customerPhone": data.field.customerPhone, "message": message}, function () {
                layer.closeAll();
                febs.alert.success('新增零售销售单成功！');
                $('#febs-order').find('#query').click();
            });
            return false;
        });

        //执行一个 table 实例
        table.render({
            elem: '#goodsRetailTable'
            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: false
            , data: []
            , cols: [[
                {type: 'checkbox'},
                {field: 'goodsId', title: '货品ID'},
                {field: 'goodsName', title: '货品名'},
                {field: 'retailPrice', title: "零售价格"},
                {field: 'number', title: '数量', edit: 'text'},
                {field: 'type', title: '销售类型', edit: 'text'},
                {field: 'discount', title: '折扣系数', edit: 'text'}
            ]]
        });

        //监听头工具栏事件
        table.on('toolbar(goodsRetailTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':
                    var goodsId;
                    febs.modal.open('添加订单货品', 'system/order/retail/addGoods', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '60%' : '40%',
                        offset: '30px',
                        yes: function (index, layero) {
                            goodsId = document.getElementById("goods-id").value;
                            $('#add-goods').find('#submit').trigger('click');
                            addGoodsToTable(febs, goodsId, table);
                        },
                        btn2: function () {
                            $('#add-goods').find('#reset').trigger('click');
                            return false;
                        }
                    });
                    break;
                case 'update':
                    break;
                case 'delete':
                    break;
            }
        });

        //监听单元格编辑
        table.on('edit(goodsRetailTable)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            layer.msg('[ID: '+ data.goodsId +'] ' + field + ' 字段更改为：'+ value);
            console.log(table.cache["goodsRetailTable"]);
        });
    });

    function addGoodsToTable(febs, goodsId, table) {
        febs.get(ctx + 'goods/' + goodsId, null, function (obj) {
            var goods = obj.data;
            var data = table.cache["goodsRetailTable"];
            data.push({
                "goodsId": goods.goodsId,
                "goodsName": goods.name,
                "retailPrice": goods.retailPrice,
                "number": "1",
                "type": "售",
                "discount": "1.0"
            }); // 向表格添加数据
            table.reload("goodsRetailTable", { data: data });
        });
    }
</script>