<style>
    #febs-order-detail #order-img, #febs-order-detail .order-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #febs-order-detail #order-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-order-detail .order-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #febs-order-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #febs-order-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<div class="layui-fluid" id="febs-order-detail" lay-title="订单信息">
    <div id="order-info-wrapper">
        <div class="order-info" id="order-info-content">
            <div><span class="layui-icon layui-icon-read"></span> 订单号：
                [[${order.orderId}]]
            </div>
            <div><span class="layui-icon layui-icon-time-circle"></span> 创建时间：
                [[${order.createTime}]]
            </div>
            <div><span class="layui-icon layui-icon-user"></span> 客户姓名：
                [[${order.customerName}]]
            </div>
            <div><span class="layui-icon layui-icon-phone"></span> 客户电话：
                [[${order.customerPhone}]]
            </div>
            <div><span class="layui-icon layui-icon-rmb"></span> 价格(元)：
                [[${order.orderPrice}]]
            </div>
        </div>
    </div>
</div>

<script data-th-inline="javascript">
    layui.use([], function () {
        var $ = layui.$,
            retailGoods = [[${order.retailGoodsList}]];
        if (retailGoods === null)
            return false;
        for (var i=0; i< retailGoods.length; i++){
            var str = "<div><span class=\"layui-icon layui-icon-component\"></span>  商品："
                + retailGoods[i].goodsName + " * " + retailGoods[i].number + "</div>";
            $("#order-info-content").append(str);
        }
    });
</script>