<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hit.spat.system.mapper.CustomerMapper">
    <sql id="countCustomerDetailSql">
        SELECT
        COUNT(1)
        FROM
        t_customer c
        WHERE 1 = 1
        <if test="customer.customerId != null and customer.customerId != ''">
            AND c.customer_id = #{customer.customerId}
        </if>
        <if test="customer.name != null and customer.name != ''">
            AND c.name = #{customer.name}
        </if>
        <if test="customer.gender != null and customer.gender != ''">
            AND c.gender = #{customer.gender}
        </if>
        <if test="customer.phone != null and customer.phone != ''">
            AND c.phone = #{customer.phone}
        </if>
        <if test="customer.type != null and customer.type != ''">
            AND c.type = #{customer.type}
        </if>
        <if test="customer.vip != null and customer.vip != ''">
            AND c.vip = #{customer.vip}
        </if>
        <if test="customer.points != null and customer.points != '' or customer.points == 0">
            AND c.points &gt;= #{customer.points}
        </if>
        <if test="customer.balance != null and customer.balance != '' or customer.balance == 0">
            AND c.balance &lt;= #{customer.balance}
        </if>
    </sql>

    <sql id="findCustomerDetailSql">
        SELECT
        c.customer_id customerId,
        c.name,
        c.gender,
        c.phone,
        c.type,
        c.vip,
        c.points,
        c.balance
        FROM
        t_customer c
        WHERE 1 = 1
        <if test="customer.customerId != null and customer.customerId != ''">
            AND c.customer_id = #{customer.customerId}
        </if>
        <if test="customer.name != null and customer.name != ''">
            AND c.name = #{customer.name}
        </if>
        <if test="customer.gender != null and customer.gender != ''">
            AND c.gender = #{customer.gender}
        </if>
        <if test="customer.phone != null and customer.phone != ''">
            AND c.phone = #{customer.phone}
        </if>
        <if test="customer.type != null and customer.type != ''">
            AND c.type = #{customer.type}
        </if>
        <if test="customer.vip != null and customer.vip != ''">
            AND c.vip = #{customer.vip}
        </if>
        <if test="customer.points != null and customer.points != '' or customer.points == 0">
            AND c.points &gt;= #{customer.points}
        </if>
        <if test="customer.balance != null and customer.balance != '' or customer.balance == 0">
            AND c.balance &lt;= #{customer.balance}
        </if>
    </sql>

    <select id="countCustomerDetail" parameterType="customer" resultType="long">
        <include refid="countCustomerDetailSql"/>
    </select>

    <select id="findCustomerDetailPage" parameterType="customer" resultType="customer">
        <include refid="findCustomerDetailSql"/>
    </select>

    <select id="findCustomerDetail" parameterType="customer" resultType="customer">
        <include refid="findCustomerDetailSql"/>
    </select>

    <select id="findByCustomerId" parameterType="long" resultType="customer">
        SELECT c.customer_id customerId,
               c.name,
               c.gender,
               c.phone,
               c.type,
               c.vip,
               c.points,
               c.balance
        FROM t_customer c
        WHERE c.customer_id = #{customerId}
    </select>
</mapper>
