<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hit.spat.system.mapper.GoodsMapper">
    <resultMap id="goodsMap" type="cn.edu.hit.spat.system.entity.Goods">
        <result column="GOODS_ID" jdbcType="DECIMAL" property="goodsId;" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="PURCHASE_PRICE" jdbcType="DECIMAL" property="purchasePrice;" />
        <result column="WHOLESALE_PRICE" jdbcType="DECIMAL" property="wholesalePrice;" />
        <result column="RETAIL_PRICE" jdbcType="DECIMAL" property="retailPrice;" />
    </resultMap>

    <select id="findRetailGoods" resultMap="goodsMap">
        SELECT
            g.*
        FROM
            t_goods g
                LEFT JOIN t_retail_goods rg ON (g.goods_id = rg.goods_Id)
                LEFT JOIN t_order_retail o ON (o.order_id = rg.order_Id)
        WHERE
            o.order_Id = #{orderId}
    </select>


    <sql id="countGoodsDetailSql" >
        SELECT
        COUNT(1)
        FROM
        t_goods g
        WHERE 1 = 1
        <if test="goods.goodsId != null and goods.goodsId != ''">
            AND g.goods_id = #{goods.goodsId}
        </if>
        <if test="goods.name != null and goods.name != ''">
            AND position (#{goods.name} in g.name) > 0
        </if>
        <if test="goods.purchasePrice != null and goods.purchasePrice != ''">
            AND g.purchase_price &lt;= #{goods.purchasePrice}
        </if>
        <if test="goods.wholesalePrice != null and goods.wholesalePrice != ''">
            AND g.wholesale_price &lt;= #{goods.wholesalePrice}
        </if>
        <if test="goods.retailPrice != null and goods.retailPrice != ''">
            AND g.retail_price &lt;= #{goods.retailPrice}
        </if>
    </sql>

    <sql id="findGoodsDetailSql">
        SELECT
        g.goods_id goodsId,
        g.name name,
        g.purchase_price,
        g.wholesale_price,
        g.retail_price
        FROM
        t_goods g
        WHERE 1 = 1
        <if test="goods.goodsId != null and goods.goodsId != ''">
            AND g.goods_id = #{goods.goodsId}
        </if>
        <if test="goods.name != null and goods.name != ''">
            AND position (#{goods.name} in g.name) > 0
        </if>
        <if test="goods.purchasePrice != null and goods.purchasePrice != ''">
            AND g.purchase_price &lt;= #{goods.purchasePrice}
        </if>
        <if test="goods.wholesalePrice != null and goods.wholesalePrice != ''">
            AND g.wholesale_price &lt;= #{goods.wholesalePrice}
        </if>
        <if test="goods.retailPrice != null and goods.retailPrice != ''">
            AND g.retail_price &lt;= #{goods.retailPrice}
        </if>
    </sql>

    <select id="countGoodsDetail" parameterType="cn.edu.hit.spat.system.entity.Goods" resultType="long">
        <include refid="countGoodsDetailSql"/>
    </select>

    <select id="findGoodsDetailPage" parameterType="cn.edu.hit.spat.system.entity.Goods" resultType="cn.edu.hit.spat.system.entity.Goods">
        <include refid="findGoodsDetailSql"/>
    </select>

    <select id="findGoodsDetail" parameterType="cn.edu.hit.spat.system.entity.Goods" resultType="cn.edu.hit.spat.system.entity.Goods">
        <include refid="findGoodsDetailSql"/>
    </select>

    <select id="findByGoodsId" parameterType="long" resultType="cn.edu.hit.spat.system.entity.Goods">
        SELECT
        g.goods_id goodsId,
        g.name name,
        g.purchase_price,
        g.wholesale_price,
        g.retail_price
        FROM
        t_goods g
        WHERE  g.goods_id = #{goodsId}
    </select>

    <select id="findByName" parameterType="String" resultType="cn.edu.hit.spat.system.entity.Goods">
        SELECT
            g.goods_id goodsId,
            g.name name,
            g.purchase_price,
            g.wholesale_price,
            g.retail_price
        FROM
            t_goods g
        WHERE  g.name = #{name}
    </select>

</mapper>
