<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hit.spat.system.mapper.GoodsMapper">
    <sql id="countGoodsDetailSql" >
        SELECT
        COUNT(1)
        FROM
        t_goods g
        WHERE 1 = 1
        <if test="goods.goodsId != null and goods.goodsId != ''">
            AND g.goods_id = #{goods.goodsId}
        </if>
        <if test="goods.name != null and goods.name != ''">
            AND g.name = #{goods.name}
        </if>
        <if test="goods.price != null and goods.price != ''">
            AND g.price = #{goods.price}
        </if>
        <if test="goods.inventory != null and goods.inventory != ''">
            AND g.inventory = #{goods.inventory}
        </if>
    </sql>

    <sql id="findGoodsDetailSql">
        SELECT
        g.goods_id goodsId,
        g.name,
        g.price,
        g.inventory
        FROM
        t_goods g
        WHERE 1 = 1
        <if test="goods.goodsId != null and goods.goodsId != ''">
            AND g.goods_id = #{goods.goodsId}
        </if>
        <if test="goods.name != null and goods.name != ''">
            AND g.type = #{goods.type}
        </if>
        <if test="goods.price != null and goods.price != ''">
            AND g.price = #{goods.price}
        </if>
        <if test="goods.inventory != null and goods.inventory != ''">
            AND g.inventory = #{goods.inventory}
        </if>
    </sql>

    <select id="countGoodsDetail" parameterType="cn.edu.hit.spat.system.entity.Goods" resultType="long">
        <include refid="countGoodsDetailSql"/>
    </select>

    <select id="findGoodsDetailPage" parameterType="cn.edu.hit.spat.system.entity.Goods" resultType="cn.edu.hit.spat.system.entity.Goods">
        <include refid="findGoodsDetailSql"/>
    </select>

    <select id="findGoodsDetail" parameterType="cn.edu.hit.spat.system.entity.Goods" resultType="cn.edu.hit.spat.system.entity.Goods">
        <include refid="findGoodsDetailSql"/>
    </select>

    <select id="findByGoodsId" parameterType="long" resultType="cn.edu.hit.spat.system.entity.Goods">
        SELECT
        g.goods_id goodsId,
        g.name,
        g.price,
        g.inventory
        FROM
        t_goods g
        WHERE  g.goods_id = #{goodsId}
    </select>
</mapper>
