<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hit.spat.system.mapper.OrderMapper">
    <sql id="countOrderDetailSql" >
        SELECT
        COUNT(1)
        FROM
        t_order_retail o
        WHERE 1 = 1
        <if test="order.customerName != null and order.customerName != ''">
            AND o.customer_name = #{order.customerName}
        </if>
        <if test="order.createTimeFrom != null and order.createTimeFrom !=''">
            And o.create_time &gt; #{order.createTimeFrom}
        </if>
        <if test="order.createTimeTo!= null and order.createTimeTo !=''">
            And o.create_time &lt; #{order.createTimeTo}
        </if>
    </sql>

    <sql id="findOrderDetailSql">
       SELECT
        o.order_id orderId,
        o.create_time createTime,
        o.customer_name customerName,
        o.customer_phone customerPhone,
        o.order_price orderPrice
        FROM
        t_order_retail o
        WHERE 1 = 1
        <if test="order.customerName != null and order.customerName != ''">
            AND o.customer_name = #{order.customerName}
        </if>

        <if test="order.createTimeFrom != null and order.createTimeFrom !=''">
            And o.create_time &gt; #{order.createTimeFrom}
        </if>
        <if test="order.createTimeTo!= null and order.createTimeTo !=''">
            And o.create_time &lt; #{order.createTimeTo}
        </if>

    </sql>

    <select id="countOrderDetail" parameterType="cn.edu.hit.spat.system.entity.Order" resultType="long">
        <include refid="countOrderDetailSql"/>
    </select>

    <select id="findOrderDetailPage" parameterType="cn.edu.hit.spat.system.entity.Order" resultType="cn.edu.hit.spat.system.entity.Order">
        <include refid="findOrderDetailSql"/>
    </select>

    <select id="findOrderDetail" parameterType="cn.edu.hit.spat.system.entity.Order" resultType="cn.edu.hit.spat.system.entity.Order">
        <include refid="findOrderDetailSql"/>
    </select>

    <select id="findByName" parameterType="string" resultType="cn.edu.hit.spat.system.entity.Order">
        SELECT
        o.order_id orderId,
        o.create_time createTime,
        o.customer_name customerName,
        o.customer_phone customerPhone,
        o.order_price orderPrice
        FROM
        t_order_retail o
        WHERE  o.customer_name = #{customerName}

    </select>


</mapper>
