<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hit.spat.system.mapper.StorageMapper">
    <sql id="countStorageDetailSql" >
        SELECT
        COUNT(1)
        FROM
        t_storage s
        WHERE 1 = 1
        <if test="storage.storageId != null and storage.storageId != ''">
            AND s.storage_id = #{storage.storageId}
        </if>
        <if test="storage.storageName != null and storage.storageName != ''">
            AND position (#{storage.storageName} in s.storage_name) > 0
        </if>
    </sql>

    <sql id="findStorageDetailSql">
        SELECT
        s.storage_id storageId,
        s.storage_name
        FROM
        t_storage s
        WHERE 1 = 1
        <if test="storage.storageId != null and storage.storageId != ''">
            AND s.storage_id = #{storage.storageId}
        </if>
        <if test="storage.storageName != null and storage.storageName != ''">
            AND position (#{storage.storageName} in s.storage_name) > 0
        </if>
    </sql>

    <sql id="findExactStorageDetailSql">
        SELECT
        s.storage_id storageId,
        s.storage_name
        FROM
        t_storage s
        WHERE 1 = 1
        <if test="storage.storageId != null and storage.storageId != ''">
            AND s.storage_id = #{storage.storageId}
        </if>
        <if test="storage.storageName != null and storage.storageName != ''">
            AND s.storage_name = #{storage.storageName}
        </if>
    </sql>

    <sql id="findStoragesDetailSql">
        SELECT
        s.storage_id storageId,
        s.storage_name
        FROM
        t_storage s
        WHERE 1 = 1
        <if test="storage.storageId != null and storage.storageId != ''">
            AND s.storage_id != #{storage.storageId}
        </if>
    </sql>

    <select id="countStorageDetail" parameterType="Storage" resultType="long">
        <include refid="countStorageDetailSql"/>
    </select>

    <select id="findStorageDetailPage" parameterType="Storage" resultType="Storage">
        <include refid="findStorageDetailSql"/>
    </select>

    <select id="findStorageDetail" parameterType="Storage" resultType="Storage">
        <include refid="findStorageDetailSql"/>
    </select>

    <select id="findExactStorageDetail" parameterType="Storage" resultType="Storage">
        <include refid="findExactStorageDetailSql"/>
    </select>

    <select id="findStoragesDetail" parameterType="Storage" resultType="Storage">
        <include refid="findStoragesDetailSql"/>
    </select>

    <select id="findByStorageId" parameterType="long" resultType="Storage">
        SELECT
        s.storage_id storageId,
        s.storage_name
        FROM
        t_storage s
        WHERE  s.storage_id = #{storageId}
    </select>

    <select id="findByStorageName" parameterType="String" resultType="Storage">
        SELECT
        s.storage_id storageId,
        s.storage_name
        FROM
        t_storage s
        WHERE  s.storage_name = #{storageName}
    </select>
</mapper>
