<style>
    #gwarbms-components-others .layui-card-header {
        font-weight: 600;
    }

    #gwarbms-components-others p {
        margin-bottom: 10px
    }
    #gwarbms-components-others .layui-badge {
        line-height: 20px;
        margin: .25rem .5rem .25rem 0;
    }
    #gwarbms-components-others .alert {
        margin-bottom: .75rem;
    }
</style>
<div class="layui-fluid layui-anim gwarbms-anim" id="gwarbms-components-others" lay-title="其他组件">
    <div class="layui-row layui-col-space8 gwarbms-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Tag标签</div>
                <div class="layui-card-body">
                    <p>样式一</p>
                    <div>
                        <span class="layui-badge gwarbms-tag-green">gwarbms-tag-green</span>
                        <span class="layui-badge gwarbms-tag-magenta">gwarbms-tag-magenta</span>
                        <span class="layui-badge gwarbms-tag-orange">gwarbms-tag-orange</span>
                        <span class="layui-badge gwarbms-tag-red">gwarbms-tag-red</span>
                        <span class="layui-badge gwarbms-tag-volcano">gwarbms-tag-volcano</span>
                        <span class="layui-badge gwarbms-tag-gold">gwarbms-tag-gold</span>
                        <span class="layui-badge gwarbms-tag-lime">gwarbms-tag-lime</span>
                        <span class="layui-badge gwarbms-tag-cyan">gwarbms-tag-cyan</span>
                        <span class="layui-badge gwarbms-tag-blue">gwarbms-tag-blue</span>
                        <span class="layui-badge gwarbms-tag-geekblue">gwarbms-tag-geekblue</span>
                        <span class="layui-badge gwarbms-tag-purple">gwarbms-tag-purple</span>
                    </div>
                    <p>样式二</p>
                    <div>
                        <span class="layui-badge gwarbms-bg-green">.gwarbms-bg-green</span>
                        <span class="layui-badge gwarbms-bg-magenta">gwarbms-bg-magenta</span>
                        <span class="layui-badge gwarbms-bg-orange">gwarbms-bg-orange</span>
                        <span class="layui-badge gwarbms-bg-red">gwarbms-bg-red</span>
                        <span class="layui-badge gwarbms-bg-volcano">gwarbms-bg-volcano</span>
                        <span class="layui-badge gwarbms-bg-gold">gwarbms-bg-gold</span>
                        <span class="layui-badge gwarbms-bg-lime">gwarbms-bg-lime</span>
                        <span class="layui-badge gwarbms-bg-cyan">gwarbms-bg-cyan</span>
                        <span class="layui-badge gwarbms-bg-blue">gwarbms-bg-blue</span>
                        <span class="layui-badge gwarbms-bg-geekblue">gwarbms-bg-geekblue</span>
                        <span class="layui-badge gwarbms-bg-purple">gwarbms-bg-purple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Alert告警提示</div>
                <div class="layui-card-body">
                    <div class="alert">
                        <span class="gwarbms-alert-base gwarbms-alert-success">Success Tips</span>
                    </div>
                    <div class="alert">
                        <span class="gwarbms-alert-base gwarbms-alert-info">Informational Notes</span>
                    </div>
                    <div class="alert">
                        <span class="gwarbms-alert-base gwarbms-alert-warn">Warning Message</span>
                    </div>
                    <div class="alert">
                        <span class="gwarbms-alert-base gwarbms-alert-error">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>