<div class="layui-fluid layui-anim febs-anim" id="febs-storage" lay-title="仓库管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="storage-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline febs-hide">
                                        <label class="layui-form-label layui-form-label-sm">仓库 ID</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="storageId" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">仓库名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="storageName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="storage:view,storage:create,storage:update,storage:delete">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="storageTable" lay-data="{id: 'storageTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="storage-option">
    <span shiro:lacksPermission="storage:view">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="storage:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="storage:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-storage'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'storageId', type: null},
            tableIns;

        form.render();

        initTable();

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('storageTable');
                if (name === 'create') {
                    febs.modal.open('新增仓库', 'system/storage/create', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        offset: '30px',
                        yes: function (index, layero) {
                            $('#storage-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#storage-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的仓库');
                    } else {
                        febs.modal.confirm('删除仓库', '确定删除该仓库？', function () {
                            var storageIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                storageIds.push(item.storageId)
                            });
                            deleteStorage(storageIds.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'create',
                title: '新增仓库',
                perms: 'storage:create'
            }, {
                name: 'delete',
                title: '删除仓库',
                perms: 'storage:delete'
            }]
        });

        table.on('tool(storageTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'edit') {
                febs.modal.open('修改仓库', 'system/storage/update/' + data.storageId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    offset: '30px',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#storage-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            if (layEvent === 'del') {
                febs.modal.confirm('删除仓库', '确定删除选中仓库？', function () {
                    febs.get(ctx + 'storage/delete/' + data.storageId, null, function () {
                        febs.alert.success('删除仓库成功');
                        $query.click();
                    });
                });
            }
        });

        table.on('sort(storageTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'storageTable',
                url: ctx + 'storage/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'storageId', title: '仓库 ID', minWidth: 100},
                    {field: 'storageName', title: '仓库名'},
                    {title: '操作', toolbar: '#storage-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            return params;
        }

        function deleteStorage(storageIds) {
            febs.get(ctx + 'storage/delete/' + storageIds, null, function () {
                febs.alert.success('删除仓库成功');
                $query.click();
            });
        }
    })
</script>