<style>
    #record-add {
        padding: 20px 25px 25px 0;
    }

    #record-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }

    #record-add .layui-treeSelect .ztree li span.button.switch {
        top: 1px;
        left: 3px;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }
</style>
<div class="layui-fluid" id="record-add" lay-title="新货品入库">
    <form class="layui-form" action="" lay-filter="record-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">目标仓库：</label>
            <div class="layui-input-block">
                <select id="storageId" name="storageId" lay-verify="required">
                    <option value="">全部</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">货品：</label>
            <div class="layui-input-block">
                <select id="goodsId" name="goodsId" lay-verify="required">
                    <option value="">全部</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">入库数量：</label>
            <div class="layui-input-block">
                <input type="text" name="number" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="record-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate;

        form.verify(validate);
        $.ajax({
            //动态获取下拉选项的接口，返回数据主要是id+name
            url: ctx + 'record/getDesStorage',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                let str="<option value=''>全部</option>";
                for(let i of data){
                    //组装数据
                    str+=`<option value='${i.storageId}'>${i.storageName}</option>`;
                }
                //jquery赋值方式
                $("#storageId").html(str);
                //重新渲染生效
                form.render();
            }
        });
        $.ajax({
            //动态获取下拉选项的接口，返回数据主要是id+name
            url: ctx + 'record/getAllGoods',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                let str="<option value=''>全部</option>";
                for(let i of data){
                    //组装数据
                    str+=`<option value='${i.goodsId}'>${i.name}</option>`;
                }
                //jquery赋值方式
                $("#goodsId").html(str);
                //重新渲染生效
                form.render();
            }
        });
        formSelects.render();

        form.on('submit(record-add-form-submit)', function (data) {
            febs.post(ctx + 'record', data.field, function () {
                layer.closeAll();
                febs.alert.success('新货品入库成功！');
                $('#febs-record').find('#query').click();
            });
            return false;
        });
    });
</script>