<style>
    #gwarbms-vehicle-detail #vehicle-img, #gwarbms-vehicle-detail .vehicle-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #gwarbms-vehicle-detail #vehicle-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #gwarbms-vehicle-detail .vehicle-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #gwarbms-vehicle-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #gwarbms-vehicle-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<div class="layui-fluid" id="gwarbms-vehicle-detail" lay-title="车辆信息">
    <div id="vehicle-info-wrapper">
        <div class="vehicle-info">
            <div><span class="layui-icon layui-icon-car"></span> 车辆 ID：
                [[${vehicle.vehicleId}]]
            </div>
            <div><span class="layui-icon layui-icon-car"></span> 车型：
                [[${vehicle.type}]]
            </div>
            <div><span class="layui-icon layui-icon-car"></span> 颜色：
                [[${vehicle.color}]]
            </div>
            <div><span class="layui-icon layui-icon-car"></span> 车重：
                [[${vehicle.deadWeight}]]
            </div>
            <div><span class="layui-icon layui-icon-time-circle"></span> 生产日期：
                [[${vehicle.manufactureDate}]]
            </div>
            <div><span class="layui-icon layui-icon-car"></span> 最低价格：
                [[${vehicle.lowestPrice}]]
            </div>
            <div><span class="layui-icon layui-icon-car"></span> 保养次数：
                [[${vehicle.maintenanceTimes}]]
            </div>
            <div><span class="layui-icon layui-icon-car"></span> 车辆状态：
                [[${vehicle.status}]]
            </div>
        </div>
    </div>
</div>