<div class="layui-fluid layui-anim gwarbms-anim" id="gwarbms-vehicleMaintenance" lay-title="保养车辆">
    <div class="layui-row gwarbms-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body gwarbms-table-full">
                    <form class="layui-form layui-table-form" lay-filter="vehicle-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">车辆 ID</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="vehicleId" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">车型</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="type" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">颜色</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="color" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">车重</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="deadWeight" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">生产日期</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="time" id="vehicle-manufactureDate" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">最低价格</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="lowestPrice" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">剩余保养次数</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="maintenanceTimes" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="status">
                                                <option value=""></option>
                                                <option value="0">未出售</option>
                                                <option value="1">已出售</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary gwarbms-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary gwarbms-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="maintenance"
                                     shiro:hasAnyPermissions="vehicle:view,vehicle:maintenance">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="vehicleTable" lay-data="{id: 'vehicleTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="vehicle-status">
    {{#
    var status = {
    0: {title: '未出售', color: 'green'},
    1: {title: '已出售', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge gwarbms-bg-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="vehicle-option">
    <span shiro:lacksPermission="vehicle:view">
        <span class="layui-badge-dot gwarbms-bg-orange"></span> 无权限
    </span>
    <a lay-event="detail" shiro:hasPermission="vehicle:view"><i
            class="layui-icon gwarbms-edit-area gwarbms-green">&#xe7a5;</i></a>
    <a lay-event="maintenance" shiro:hasPermission="vehicle:maintenance"><i
            class="layui-icon gwarbms-edit-area gwarbms-blue">&#xe7a4;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'gwarbms', 'treeSelect'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            gwarbms = layui.gwarbms,
            form = layui.form,
            table = layui.table,
            treeSelect = layui.treeSelect,
            $view = $('#gwarbms-vehicleMaintenance'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $maintenance = $view.find('#maintenance'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            manufactureDateFrom,
            manufactureDateTo;

        form.render();

        initTable();

        laydate.render({
            elem: '#vehicle-manufactureDate',
            range: true,
            trigger: 'click'
        });

        table.on('tool(vehicleTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                gwarbms.modal.view('车辆信息', 'system/vehicle/detail/' + data.vehicleId, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            if (layEvent === 'maintenance') {
                gwarbms.modal.confirm('保养车辆', '确定保养选中车辆？', function () {
                    gwarbms.post(ctx + 'vehicle/maintenance/' + data.vehicleId, null, function () {
                        gwarbms.alert.success('保养车辆成功');
                        $query.click();
                    });
                });
            }
        });

        table.on('sort(vehicleTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            treeSelect.revokeNode('dept');
            sortObject.type = 'null';
            manufactureDateTo = null;
            manufactureDateFrom = null;
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        $maintenance.on('click', function () {
            var checkStatus = table.checkStatus('vehicleTable');
            if (!checkStatus.data.length) {
                gwarbms.alert.warn('请选择需要保养的车辆');
            } else {
                gwarbms.modal.confirm('保养车辆', '确定保养选中车辆？', function () {
                    var vehicleIds = [];
                    layui.each(checkStatus.data, function (key, item) {
                        vehicleIds.push(item.vehicleId)
                    });
                    gwarbms.post(ctx + 'vehicle/maintenance/' + vehicleIds.join(','), null, function () {
                        gwarbms.alert.success('车辆保养成功');
                        $query.click();
                    });
                });
            }
        });

        function initTable() {
            tableIns = gwarbms.table.init({
                elem: $view.find('table'),
                id: 'vehicleTable',
                url: ctx + 'vehicle/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'vehicleId', title: '车辆ID', minWidth: 100},
                    {field: 'manufactureDate', title: '生产日期', minWidth: 180, sort: true},
                    {field: 'type', title: '车型'},
                    {field: 'color', title: '颜色', minWidth: 165},
                    {field: 'deadWeight', title: '车重(KG)', minWidth: 180},
                    {field: 'lowestPrice', title: '最低价格'},
                    {field: 'maintenanceTimes', title: '剩余保养次数'},
                    {field: 'status', title: '状态', templet: '#vehicle-status'},
                    {title: '操作', toolbar: '#vehicle-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            var manufactureDate = params.time;
            if (manufactureDate) {
                manufactureDateFrom = manufactureDate.split(' - ')[0];
                manufactureDateTo = manufactureDate.split(' - ')[1];
            }
            params.invalidate_ie_cache = new Date();
            params.manufactureDateFrom = manufactureDateFrom;
            params.manufactureDateTo = manufactureDateTo;
            return params;
        }
    })
</script>