<style>
    #vehicle-add {
        padding: 20px 25px 25px 0;
    }

    #vehicle-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }

    #vehicle-add .layui-treeSelect .ztree li span.button.switch {
        top: 1px;
        left: 3px;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }
</style>
<div class="layui-fluid" id="vehicle-add" lay-title="新增车辆">
    <form class="layui-form" action="" lay-filter="vehicle-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label gwarbms-form-item-require">车型：</label>
            <div class="layui-input-block">
                <input type="text" name="type" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label gwarbms-form-item-require">颜色：</label>
            <div class="layui-input-block">
                <input type="text" name="color" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label gwarbms-form-item-require">车重(KG)：</label>
            <div class="layui-input-block">
                <input type="text" name="deadWeight" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label gwarbms-form-item-require">最低价格：</label>
            <div class="layui-input-block">
                <input type="text" name="lowestPrice" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label gwarbms-form-item-require">保养次数：</label>
            <div class="layui-input-block">
                <input type="text" name="maintenanceTimes" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label gwarbms-form-item-require">状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="0" title="未出售" checked="">
            </div>
        </div>
        <div class="layui-form-item gwarbms-hide">
            <button class="layui-btn" lay-submit="" lay-filter="vehicle-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['gwarbms', 'form', 'formSelects', 'treeSelect'], function () {
        var $ = layui.$,
            gwarbms = layui.gwarbms,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form;

        form.render();

        formSelects.render();

        form.on('submit(vehicle-add-form-submit)', function (data) {
            gwarbms.post(ctx + 'vehicle', data.field, function () {
                layer.closeAll();
                gwarbms.alert.success('新增车辆成功！');
                $('#gwarbms-vehicle').find('#query').click();
            });
            return false;
        });
    });
</script>