<div class="layui-fluid layui-anim gwarbms-anim" id="gwarbms-achievement" lay-title="业绩统计">
    <div class="layui-row gwarbms-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body gwarbms-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">员工 ID</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="salesId" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">统计范围</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="time" id="order-createTime" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary gwarbms-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary gwarbms-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="achievementTable" lay-data="{id: 'achievementTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'gwarbms', 'treeSelect'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            gwarbms = layui.gwarbms,
            form = layui.form,
            table = layui.table,
            treeSelect = layui.treeSelect,
            $view = $('#gwarbms-achievement'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo;

        form.render();

        initTable();

        laydate.render({
            elem: '#order-createTime',
            range: true,
            trigger: 'click'
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            treeSelect.revokeNode('dept');
            sortObject.type = 'null';
            createTimeTo = null;
            createTimeFrom = null;
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        table.on('sort(orderTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        function initTable() {
            tableIns = gwarbms.table.init({
                elem: $view.find('table'),
                id: 'achievementTable',
                url: ctx + 'achievement/',
                cols: [[
                    {field: 'salesId', title: '销售人员ID'},
                    {field: 'salesQuantity', title: '订单数量', minWidth: 165},
                    {field: 'salesVolume', title: '销售额', minWidth: 180}
                    //{title: '操作', toolbar: '#order-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            var createTime = params.time;
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }
            params.invalidate_ie_cache = new Date();
            params.createTimeFrom = createTimeFrom;
            params.createTimeTo = createTimeTo;
            return params;
        }
    })
</script>