<style>
    #customer-update {
        padding: 20px 25px 25px 0;
    }

    #customer-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }

    #customer-update #data-permission-tree-block {
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 3px 0;
    }

    #customer-update  .layui-treeSelect .ztree li span.button.switch {
        top: 1px;
        left: 3px;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }
</style>
<div class="layui-fluid" id="customer-charge">
    <form class="layui-form" action="" lay-filter="customer-charge-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">客户id：</label>
            <div class="layui-input-block">
                <input type="text" name="customerId" data-th-id="${customer.customerId}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">客户姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="name" data-th-id="${customer.name}" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">联系电话：</label>
            <div class="layui-input-block">
                <input type="tel" name="phone" lay-verify="phone" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">性别：</label>
            <div class="layui-input-block" readonly="">
                <input type="radio" name="gender" value="男" title="男性">
                <input type="radio" name="gender" value="女" title="女性">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">充值金额：</label>
            <div class="layui-input-block">
                <input type="text" name="balance" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="customer-charge-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'eleTree'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            customer = [[${customer}]],
            $view = $('#customer-charge'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initCustomerValue();

        formSelects.render();

        function initCustomerValue() {
            form.val("customer-charge-form", {
                "customerId": customer.customerId,
                "name": customer.name,
                "phone": customer.phone,
                "gender": customer.gender,
            });
        }

        form.on('submit(customer-charge-form-submit)', function (data) {
            febs.post(ctx + 'customer/charge', data.field, function () {
                layer.closeAll();
                febs.alert.success(customer.name + ' 客户充值' + customer.balance +'成功');
                $('#febs-customer').find('#query').click();
            });
            return false;
        });
    });
</script>