<div class="layui-fluid layui-anim febs-anim" id="febs-customer" lay-title="客户管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="customer-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">客户 ID</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="customerId" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">姓名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="name" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">性别</label>
                                        <div class="layui-input-inline">
                                            <select name="gender">
                                                <option value=""></option>
                                                <option value="男">男</option>
                                                <option value="女">女</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">联系电话</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="phone" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">类型</label>
                                        <div class="layui-input-inline">
                                            <select name="type">
                                                <option value=""></option>
                                                <option value="批发客户">批发客户</option>
                                                <option value="零售客户">零售客户</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="customer:create,customer:update,customer:delete">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="customerTable" lay-data="{id: 'customerTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="customer-gender">
    {{#
    var gender = {
    女: {title: '女'},
    男: {title: '男'}
    }[d.gender];
    }}
    <span>{{ gender.title }}</span>
</script>
<script type="text/html" id="customer-type">
    {{#
    var type = {
    批发客户: {title: '批发客户', color: 'green'},
    零售客户: {title: '零售客户', color: 'blue'}
    }[d.type];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ type.title }}</span>
</script>
<script type="text/html" id="customer-option">
    <span shiro:lacksPermission="customer:view,customer:update,customer:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="detail" shiro:hasPermission="customer:view"><i
            class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
    <a lay-event="edit" shiro:hasPermission="customer:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="customer:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            treeSelect = layui.treeSelect,
            dropdown = layui.dropdown,
            $view = $('#febs-customer'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'purchasingDate', type: null},
            tableIns,
            purchasingDateFrom,
            purchasingDateTo;

        form.render();

        initTable();

        laydate.render({
            elem: '#purchasingDate',
            range: true,
            trigger: 'click'
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('customerTable');
                if (name === 'create') {
                    febs.modal.open('新增客户', 'system/customer/create', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        offset: '30px',
                        yes: function (index, layero) {
                            $('#customer-create').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#customer-create').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的客户');
                    } else {
                        febs.modal.confirm('删除用户', '确定删除该用户？', function () {
                            var customerIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                customerIds.push(item.customerId)
                            });
                            deleteCustomers(customerIds.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'create',
                title: '新增客户',
                perms: 'customer:create'
            }, {
                name: 'delete',
                title: '删除客户',
                perms: 'customer:delete'
            }]
        });

        table.on('tool(customerTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                febs.modal.view('客户信息', 'system/customer/detail/' + data.customerId, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            if (layEvent === 'del') {
                febs.modal.confirm('删除用户', '确定删除该用户？', function () {
                    deleteCustomers(data.customerId);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改用户', 'system/customer/update/' + data.customerId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    offset: '30px',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#customer-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(customerTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            treeSelect.revokeNode('dept');
            sortObject.type = 'null';
            purchasingDateTo = null;
            purchasingDateFrom = null;
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'customerTable',
                url: ctx + 'customer/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'customerId', title: '客户ID', minWidth: 100},
                    {field: 'name', title: '姓名'},
                    {title: '性别', templet: '#customer-gender'},
                    {field: 'phone', title: '手机', minWidth: 165},
                    {title: '类型', templet: '#customer-type'},
                    {title: '操作', toolbar: '#customer-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            var purchasingDate = params.time;
            if (purchasingDate) {
                purchasingDateFrom = purchasingDate.split(' - ')[0];
                purchasingDateTo = purchasingDate.split(' - ')[1];
            }
            params.invalidate_ie_cache = new Date();
            params.purchasingDateFrom = purchasingDateFrom;
            params.purchasingDateTo = purchasingDateTo;
            return params;
        }

        function deleteCustomers(customerIds) {
            febs.get(ctx + 'customer/delete/' + customerIds, null, function () {
                febs.alert.success('删除用户成功');
                $query.click();
            });
        }
    })
</script>