<style>
    #febs-customer-detail #customer-img, #febs-customer-detail .customer-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #febs-customer-detail #customer-img img {
        width: 7rem;
        margin: 10px 10px 0 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    #febs-customer-detail #customer-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-customer-detail .customer-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #febs-customer-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #febs-customer-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<div class="layui-fluid" id="febs-customer-detail" lay-title="客户信息">
    <div id="customer-info-wrapper">
        <div class="customer-info">
            <div><span class="layui-icon layui-icon-user"></span> 姓名：
                [[${customer.name}]]
            </div>
            <div><span class="layui-icon layui-icon-skin"></span> 性别：
                [[${customer.gender}]]
            </div>
            <div><span class="layui-icon layui-icon-phone"></span> 电话：
                [[${customer.phone}]]
            </div>
            <div><span class="layui-icon layui-icon-tips"></span> 类型：
                [[${customer.type}]]
            </div>
        </div>
    </div>
</div>